####################################################
#                                                  #
### Terraqube tq-bsq-utils requirements.txt file ###
#                                                  #
####################################################

numpy